@import url(https://fonts.googleapis.com/css?family=Ubuntu);

* {
    font-family: 'Ubuntu';
    color: #fff;
}

body {
    padding: 10%;
    background-color:cornflowerblue;
}

div.heading {
    padding: 2%;
}

h1 {
    text-align: center;
}

h1.heading {
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: white;
    border-radius: 2%;
}

img.head {
    image-orientation: center;
    max-width: 100%;
}

input[type=text] {
    width: 96%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 1px dotted white;
    margin: 2%;
    font-size: 1.3em;
    outline: none;
}

input:disabled {
    color: #999;
}

input[type=number] {
    width: 96%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 1px dotted white;
    margin: 2%;
    font-size: 1.3em;
    outline: none;
    transition: all 0.2s;
}

input[type=number]:focus {
    font-size: 1.6em;
}

input[type=submit] {
    background-color: rgba(255, 255, 255, 0.2);
    font-family: 'Ubuntu';
    border: none;
    font-size: 1.5em;
    padding: 1%;
}

input[type=submit]:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

p.right {
    text-align: right;
}

table {
    margin: 5%;
}

table td {
    padding: 2%;
}

/* --------- */

/* input{
    background-color:whitesmoke;
}
input[type=text]{
     border-radius: 25px;
     border: 200px;
     width:34%;
     padding: 9px 20px;
     transition: all 2s;
    }
    input[type=text]:focus{
        width: 45%;
        font-size: 25px;
    }

input[type=email]{
     width:34%; 
     border-radius: 25px;
     border: 20px;
     padding: 9px 20px;
     transition: all 2s;
    }
    input[type=email]:focus{
        width: 45%;
        font-size: 25px;
    }
input[type=Date]{
     border: 20px;
     padding: 9px 20px;
     width:34%;
     border-radius: 25px;
     transition: all 2s;
    }
    input[type=date]:focus{
        width: 45%;
        font-size: 25px;
    }
input[type=number]{
     border: 20px;
     width:34%;
     padding: 9px 20px;
     border-radius: 25px;
     transition: all 2s;
}
input[type=number]:focus{
    width: 45%;
    font-size: 25px;
}
select{
     font-family:sans-serif;
     border-radius: 25px;
     width:34%;
     padding: 8px 20px;
     font-size:25px;
     transition: all 2s;
    }
   select:focus{
        width: 45%;
        font-size: 25px;
    }
option{
     width:34%;
     font-family:sans-serif;
     box-sizing:  inherit;
     text-align: center;
     transition: all 2s;
    }
    option:focus{
        width: 45%;
        font-size: 25px;
    }
input[type=radio]{
     border-radius:23;
} */