    h1 {
        text-align: center;
        padding: 2%;
        background-color:white;
        background-repeat: no-repeat;
        margin: 0;
        text-decoration-style: solid;
   
}
h2{
    text-align:center;
    margin: 1%;
}
body{
    margin: 1%;
    border:black;
    box-sizing: content-box;
}